%footer#footer
  .footer-inner
    .footer-column.footer-column-1
      .logo= link_to image_tag('titan/common/footer_logo.png', alt: 'スキーヤー・スノーボーダーのためのみんなでつくるスキー場口コミサイト スノーウェイ'), '#'
      %p.copy
        = "#{content_tag :strong, 'スキーヤー・スノーボーダー'}のための"
        %br
        = "みんなでつくる#{content_tag :strong, 'スキー場'}口コミサイト"
      %ul.external-media
        %li= link_to "#{content_tag :i, nil, class: 'icon-twitter-sign'}Snoway 公式Twitter", '#', target: "_blank"
        %li= link_to "#{content_tag :i, nil, class: 'icon-facebook-sign'}Facebookページ", '#', target: "_blank"
        %li= link_to "#{content_tag :i, nil, class: 'icon-rss'}Snoway 公式ブログ", '#', target: "_blank"

      %address#ftr-bar
        copyright (C) 2013 snoway.jp
        %br/
        All rights are reserved.
    .footer-column.footer-column-2
      %section.section
        %h2= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}スキー場を探す"
        %ul.section-list
          %li
            %h3= link_to "エリアから探す#{content_tag :i, nil, class: 'icon-caret-right'}"
            %ul.float-list
              - 8.times do
                %li= link_to '北海道', '#'
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}イベントで探す"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}ニュース・トピックで探す"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}ランキングで探す"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}積雪で探す"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}ゲレンデオープン情報"
          %li
            %ul.float-list
              - 9.times do
                %li= link_to 'ニセコ', '#'
    .footer-column.footer-column-3
      %section.section
        %h2= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}スキー旅行を予約する"
        %ul.section-list
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}スキーツアーを探す"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}スキー場の近くのホテルを予約"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}日帰り温泉情報"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}海外スキー場"
      %section.section
        %h2= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}ショップを探す"
        %ul.section-list
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}ギアをを探す"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}メーカーから探す"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}持ち物リストをチェックする"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}用語を調べる"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}大会情報"
    .footer-column.footer-column-4
      %section.section
        %h2= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}コミュニティ"
        %ul.section-list
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}スノーウェイトーク"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}Snower ランキング"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}雪山滑走記録"
      .section
        %ul.section-list
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}利用規約"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}お問い合わせ"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}サイトマップ"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}リンクについて"
          %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}ビーチ・海・プールの情報サイト ビーチウェイ"
