---
スキー場の口コミサイト スノーウェイ
---
#top-display
  .top-display-bg-container
    = link_to image_tag('http://www.princehotels.co.jp/image.jsp?id=50460', alt: '苗場スキー場', class: 'bg'), '#'
  .top-display-container
    .top-display-inner
      .top-display-user-review
        .thumbnail= link_to image_tag('https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/579829_10151095637604457_175483388_n.jpg', alt: 'おっちゃん'), '#', class: 'powertip', title: 'おっちゃん'
        .user-review
          %h3= link_to 'やっぱりここは安心感ありますね', '#'
          %p
            雪の量はまだまだ十分。
            %br/
            ただ、今後は気温も上がり、新たな降雪は期待できないでしょうから、なんとか長持ちして欲しい。
            %br/
            デコサラダがお勧め。（かなりの量でおいしかった。）
            %br/
            リフト係の女の子がみんなかわいかった！スキーやボードも上手いんでしょうか？評価が上がります。 … （
            = link_to 'もっと見る', '#'
            ）

          %p.author= link_to 'Review by  とし和尚', '#'
      
    .top-display-info
      .inner
        .title= link_to "グランデコ国際スキー場#{content_tag :span, '福島県'}", "#"
        .photo-author= link_to "Photo by おっちゃん"

#maincontent
  #main
    .section.tab-box
      %nav
        %ul.tab-box-nav
          %li.current= "#{content_tag :i, nil, class: 'icon-map-marker'}エリアで探す"
          %li= "#{content_tag :i, 'car', class: 'lsf icon-lsf'}アクセスで探す"
          %li= "#{content_tag :i, nil, class: 'icon-flag'}イベントで探す"
          %li= "#{content_tag :i, nil, class: 'icon-comments'}レビューで探す"
        .tab-box-content-wrapper
          %ul.tab-box-content-list
            %li.tab-box-content.tab-box-content-1
              1
            %li.tab-box-content.tab-box-content-2
              2
            %li.tab-box-content.tab-box-content-3
              3
            %li.tab-box-content.tab-box-content-4
              4

    %section.section
      %h2= "#{content_tag :i, nil, class: 'icon-thumbs-up-alt'}PICKUP スキー場"
      %ul.item-list
        - 4.times do
          %li
            .image= link_to image_tag('http://snoway.jp/img/review/s/00/27/10002722.jpg', alt: 'ゲレンデ名'), '#'
            %h3.title
              = link_to '#' do
                グランデコスキー場
                %br/
                %span （福島）
            .point
              %i.icon-star
              %i.icon-star
              %i.icon-star
              %i.icon-star.disabled
              %i.icon-star.disabled
              %span.num 3.5
            %p
              %a{:href => "#"}
                １２文字を２段にします
                %br>/
                １２文字を２段にします

    .section-wrapper
      %section.section.half
        %h2= link_to "#{content_tag :i, nil, class: 'icon-file-alt'}新着トピックス#{content_tag :i, nil, class: 'icon-caret-right'}", '#'
        %ul.section-list
          - 7.times do
            %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}野沢餅つき大会", '#'
        %p.link-more= link_to "新着トピックスをもっと見る#{content_tag :i, nil, class: 'icon-caret-right'}"

      %section.section.half.end
        %h2= link_to "#{content_tag :i, nil, class: 'icon-calendar'}もうすぐ開催のイベント#{content_tag :i, nil, class: 'icon-caret-right'}", '#'
        %ul.section-list.top-event
          - 2.times do
            %li
              = link_to "#{content_tag :strong, '08/24(日)開催のイベント'}#{content_tag :i, nil, class: 'icon-caret-right'}", '#'
              %ul
                - 2.times do
                  %li= link_to "#{content_tag :i, nil, class: 'icon-flag'}野沢餅つき大会", '#'
        %p.link-more= link_to "イベントをもっと見る#{content_tag :i, nil, class: 'icon-caret-right'}"

    .ad.wide
    .section-wrapper
      .section-wrapper-half
        %section.section
          %h2
            %a{:href => "#"}
              %i.icon-calendar>
              新着滑走記録
              %i.icon-caret-right
          %ul.section-list.skying-records
            - 7.times do
              %li
                %ul
                  %li.thumbnail
                    = link_to image_tag("https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/195380_785944456_1205910944_q.jpg", alt: "USERNAME"), '#', class: 'powertip', title: 'USERNAME'
                  %li.num= link_to '05/21', '#'
                  %li.gerande= link_to '月山'
          %p.link-more= link_to "滑走記録をもっと見る#{content_tag :i, nil, class: 'icon-caret-right'}"

        %section.section
          %h2= link_to "#{content_tag :i, nil, class: 'icon-comments'}新着のトーク#{content_tag :i, nil, class: 'icon-caret-right'}", '#'
          %ul.section-list.talk
            %li.snowboard= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 
            %li.ski= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 
            %li.gerande= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 
            %li.qa= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 
            %li.others= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 
            %li.qa= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 
            %li.others= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 

          %p.link-more= link_to "トークをもっと見る#{content_tag :i, nil, class: 'icon-caret-right '}"

      .section-wrapper-half.end
        %section.section
          %h2= link_to "#{content_tag :i, 'crown', class: 'lsf icon-lsf'}Snower ランキング#{content_tag :i, nil, class: 'icon-caret-right'}", '#'
          %section.inner-section
            %h3 滑走日数ランキング
            %ul.ranking-list
              - 3.times do
                %li
                  %ul
                    = link_to '#' do
                      %li.ranking
                        %span.num 1
                        位
                      %li.thumbnail
                        %img{:alt => "USERNAME", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/579829_10151095637604457_175483388_n.jpg"}/
                      %li.username おっちゃん
                      %li.value
                        %span.num 148
                        回

          %section.inner-section
            %h3 今シーズンのレビュー数
            %ul.ranking-list
              - 3.times do
                %li
                  %ul
                    = link_to '#' do
                      %li.ranking
                        %span.num 1
                        位
                      %li.thumbnail
                        %img{:alt => "USERNAME", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/579829_10151095637604457_175483388_n.jpg"}/
                      %li.username おっちゃん
                      %li.value
                        %span.num 148
                        回

          %section.inner-section
            %h3 アクセス数
            %ul.ranking-list
              - 3.times do
                %li
                  %ul
                    = link_to '#' do
                      %li.ranking
                        %span.num 1
                        位
                      %li.thumbnail
                        %img{:alt => "USERNAME", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/579829_10151095637604457_175483388_n.jpg"}/
                      %li.username おっちゃん
                      %li.value
                        %span.num 148
                        回
          %p.link-more= link_to "ランキングをもっと見る#{content_tag :i, nil, class: 'icon-caret-right '}"


    %section.section
      %h2
        %a{:href => "#"}
          %i.icon-shopping-cart>
          全国 スキー＆スノーボード ショップ情報
          %i.icon-caret-right
      %ul.item-list
        - 4.times do
          %li
            .image= link_to image_tag('http://snoway.jp/img/review/s/00/27/10002722.jpg', alt: 'ゲレンデ名'), '#'
            %h3.title
              %a{:href => "#"}
                UPLAND札幌
                %br/
                %span （北海道）
            %p
              %a{:href => "#"}
                １２文字を２段にします
                %br>/
                １２文字を２段にします

  %aside#sub
    .section.ad.lectangle
      / ca-pub-7399110747853108/snoway_all_position1_300x250
      :javascript
        GA_googleFillSlot("snoway_all_position1_300x250");

    %section.section.user-box-section
      .user-box-header
        %p.thumbnail
          %a{:href => "#"}
            %img{:alt => "USERNAME", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/195380_785944456_1205910944_q.jpg"}/
        .user-box-section-right
          %h2
            %a{:href => "#"} おっちゃん
          %p.mood-message
            = link_to '#' do
              シーズンイン！
              %i.icon-pencil
      %ul.user-box-data
        %li 
          %h3
            = link_to '#' do
              %i.icon-calendar
              滑走日数
          %p
            = link_to '#' do
              %span.num<> 35
              日
        %li 
          %h3
            = link_to '#' do
              %i.icon-star
              レビュー
          %p
            = link_to '#' do
              %span.num<> 37
              件
        %li 
          %h3
            = link_to '#' do
              %i.icon-comment>
              トーク
          %p
            = link_to '#' do
              %span.num<> 28
              件
        %li 
          %h3
            = link_to '#' do
              %i.icon-camera>
              フォト
          %p
            = link_to '#' do
              %span.num<> 101
              枚

    %section.section
      %h2
        %a{:href => "#"}
          %i.icon-bar-chart>
          ゲレンデ積雪情報
        %i.icon-caret-right
      %dl.section-dl.snow-conditions
        - 3.times do
          %a{:href => "#"}
            %dt
              %i.icon-caret-right>
              グランデコ国際スキー場＆スケート場
            %dd.depth
              %span.num> 460
              cm
            %dd.condition ザラ雪
      %p.link-more
        %a{:href => "#"}
          もっと見る
          %i.icon-caret-right

    %section.section
      %h2
        %a{:href => "#"}
          %i.icon-calendar>
          2013-14シーズン スキー場オープン情報
          %i.icon-caret-right
      %dl.section-dl.open-information
        - 3.times do
          %a{:href => "#"}
            %dt
              %i.icon-caret-right>
              斜里町ウナベツスキー場うな別うなぎべつ
            %dd.date 01/13
      %p.link-more
        %a{:href => "#"}
          もっと見る
          %i.icon-caret-right

    %section.section.ad.medium
      %h2 [PR]
      .taC
        / ca-pub-7399110747853108/snoway_all_halfbanner_pos1_234x60
        :javascript
          GA_googleFillSlot("snoway_all_halfbanner_pos1_234x60");
      .taC
        / ca-pub-7399110747853108/snoway_all_halfbanner_pos2_234x60
        :javascript
          GA_googleFillSlot("snoway_all_halfbanner_pos2_234x60");
      .taC
        / ca-pub-7399110747853108/snoway_all_halfbanner_pos3_234x60
        :javascript
          GA_googleFillSlot("snoway_all_halfbanner_pos3_234x60");
    %section.section
      %h2
        %a{:href => "#", :target => "blank"}
          %i.icon-rss>
          スノーウェイからのお知らせ
          %i.icon-external-link
      %ul.section-list.link
        - 6.times do
          %li
            %a{:href => "http://info.snoway.jp/archives/1764183.html", :target => "_blank"}
              %i.icon-caret-right>
              2013-2014シーズン早割シーズン券情報
              %span （2013年06月19日）
      %p.link-more
        %a{:href => "http://info.snoway.jp/", :target => "_blank"}
          Snoway オフィシャルブログへ
          %i.icon-external-link
    .section
      %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsnowayjp&amp;width=300&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false", :style => "border:none; overflow:hidden; width:300px; height:258px;"}
    .section.ad
      %h2 [スポンサードリンク]
      :javascript

      %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}
