---
スキー場の口コミサイト スノーウェイ
---
#top-display
  .top-display-bg-container
    = link_to image_tag('http://www.princehotels.co.jp/image.jsp?id=50460', alt: '苗場スキー場', class: 'bg'), '#'
  .top-display-container
    .top-display-inner
      .top-display-user-review
        .thumbnail= link_to image_tag('https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/579829_10151095637604457_175483388_n.jpg', alt: 'おっちゃん'), '#', class: 'powertip', title: 'おっちゃん'
        .user-review
          %h3= link_to 'やっぱりここは安心感ありますね', '#'
          %p
            雪の量はまだまだ十分。
            %br/
            ただ、今後は気温も上がり、新たな降雪は期待できないでしょうから、なんとか長持ちして欲しい。
            %br/
            デコサラダがお勧め。（かなりの量でおいしかった。）
            %br/
            リフト係の女の子がみんなかわいかった！スキーやボードも上手いんでしょうか？評価が上がります。 … （
            = link_to 'もっと見る', '#'
            ）

          %p.author= link_to 'Review by  とし和尚', '#'
      
    .top-display-info
      .inner
        .title= link_to "グランデコ国際スキー場#{content_tag :span, '福島県'}", "#"
        .photo-author= link_to "Photo by おっちゃん"

#maincontent
  #main
    .section.tab-box.search-tab-box
      %nav
        %ul.tab-box-nav
          %li.current= "#{content_tag :i, nil, class: 'icon-map-marker'}エリアで探す"
          %li= "#{content_tag :i, 'car', class: 'lsf icon-lsf'}アクセスで探す"
          %li= "#{content_tag :i, nil, class: 'icon-flag'}イベントで探す"
          %li= "#{content_tag :i, nil, class: 'icon-comments'}レビューで探す"
      .tab-box-content-wrapper
        %ul.tab-box-content-list
          %li
            .tab-box-content.area    
              .search-map-wrapper
                %h3 エリアを選択してください
                %ul.search-map
                  %li.hokkaido= "北海道"
                  %li.tohoku= "東北"
                  %li.kanto= "関東"
                  %li.chubu= "中部"
                  %li.kinki= "近畿"
                  %li.chugoku= "中国"
                  %li.shikoku= "四国"
                  %li.kyushu= "九州"
              .search-area-left-wrapper
                .search-area-list
                  %h3 全国の代表的なスキー場エリア
                  %ul.float-list
                    - 23.times do
                      %li= link_to "キロロ#{content_tag :span, '3', class: 'num'}", '#'
                %ul.search-area-summary-list
                  %li
                    .search-area-summary-list.hokkaido
                      = link_to "#{content_tag :i, nil, class: 'icon-remove-sign'}", '#', class: 'powertip', title: '戻る'
                      %h3 北海道のゲレンデ
                      %ul.float-list
                        - 6.times do
                          %li= link_to "青森#{content_tag :span, '24', class: 'num'}", '#'
                      %dl.section-dl.search-gerande-list
                        - 3.times do
                          =link_to '#' do
                            %dt 猪苗代
                            %dd.point
                              - 5.times do
                                %i.icon-star
                              %span.num 4.3
                              %i.icon-caret-right
                  %li
                    .search-area-summary-list.tohoku
                      = link_to "#{content_tag :i, nil, class: 'icon-remove-sign'}", '#', class: 'powertip', title: '戻る'
                      %h3 東北のゲレンデ
                      %ul.float-list
                        - 6.times do
                          %li= link_to "青森#{content_tag :span, '24', class: 'num'}", '#'
                      %dl.section-dl.search-gerande-list
                        - 3.times do
                          =link_to '#' do
                            %dt 猪苗代
                            %dd.point
                              - 5.times do
                                %i.icon-star
                              %span.num 4.3
                              %i.icon-caret-right
                  %li
                    .search-area-summary-list.kanto
                      = link_to "#{content_tag :i, nil, class: 'icon-remove-sign'}", '#', class: 'powertip', title: '戻る'
                      %h3 関東のゲレンデ
                      %ul.float-list
                        - 6.times do
                          %li= link_to "青森#{content_tag :span, '24', class: 'num'}", '#'
                      %dl.section-dl.search-gerande-list
                        - 3.times do
                          =link_to '#' do
                            %dt 猪苗代
                            %dd.point
                              - 5.times do
                                %i.icon-star
                              %span.num 4.3
                              %i.icon-caret-right
                  %li
                    .search-area-summary-list.chubu
                      = link_to "#{content_tag :i, nil, class: 'icon-remove-sign'}", '#', class: 'powertip', title: '戻る'
                      %h3 中部のゲレンデ
                      %ul.float-list
                        - 6.times do
                          %li= link_to "青森#{content_tag :span, '24', class: 'num'}", '#'
                      %dl.section-dl.search-gerande-list
                        - 3.times do
                          =link_to '#' do
                            %dt 猪苗代
                            %dd.point
                              - 5.times do
                                %i.icon-star
                              %span.num 4.3
                              %i.icon-caret-right
                  %li
                    .search-area-summary-list.kinki
                      = link_to "#{content_tag :i, nil, class: 'icon-remove-sign'}", '#', class: 'powertip', title: '戻る'
                      %h3 近畿のゲレンデ
                      %ul.float-list
                        - 6.times do
                          %li= link_to "青森#{content_tag :span, '24', class: 'num'}", '#'
                      %dl.section-dl.search-gerande-list
                        - 3.times do
                          =link_to '#' do
                            %dt 猪苗代
                            %dd.point
                              - 5.times do
                                %i.icon-star
                              %span.num 4.3
                              %i.icon-caret-right
                  %li
                    .search-area-summary-list.chugoku
                      = link_to "#{content_tag :i, nil, class: 'icon-remove-sign'}", '#', class: 'powertip', title: '戻る'
                      %h3 中国のゲレンデ
                      %ul.float-list
                        - 6.times do
                          %li= link_to "青森#{content_tag :span, '24', class: 'num'}", '#'
                      %dl.section-dl.search-gerande-list
                        - 3.times do
                          =link_to '#' do
                            %dt 猪苗代
                            %dd.point
                              - 5.times do
                                %i.icon-star
                              %span.num 4.3
                              %i.icon-caret-right
                  %li
                    .search-area-summary-list.shikoku
                      = link_to "#{content_tag :i, nil, class: 'icon-remove-sign'}", '#', class: 'powertip', title: '戻る'
                      %h3 四国のゲレンデ
                      %ul.float-list
                        - 6.times do
                          %li= link_to "青森#{content_tag :span, '24', class: 'num'}", '#'
                      %dl.section-dl.search-gerande-list
                        - 3.times do
                          =link_to '#' do
                            %dt 猪苗代
                            %dd.point
                              - 5.times do
                                %i.icon-star
                              %span.num 4.3
                              %i.icon-caret-right
                  %li
                    .search-area-summary-list.shikoku
                      = link_to "#{content_tag :i, nil, class: 'icon-remove-sign'}", '#', class: 'powertip', title: '戻る'
                      %h3 九州のゲレンデ
                      %ul.float-list
                        - 6.times do
                          %li= link_to "青森#{content_tag :span, '24', class: 'num'}", '#'
                      %dl.section-dl.search-gerande-list
                        - 3.times do
                          =link_to '#' do
                            %dt 猪苗代
                            %dd.point
                              - 5.times do
                                %i.icon-star
                              %span.num 4.3
                              %i.icon-caret-right

          %li
            .tab-box-content.access
              %ul.search-access-step-wrapper
                %li.search-access-step
                  %ul.radio-button-list
                    %li
                      %input{type: 'radio', name: 'departure_place', value: 'tokyo', id: 'tokyo'}
                      %label{for: 'tokyo'} 東京から
                    %li
                      %input{type: 'radio', name: 'departure_place', value: 'osaka', id: 'osaka'}
                      %label{for: 'osaka'} 大阪から
                    %li
                      %input{type: 'radio', name: 'departure_place', value: 'sapporo', id: 'sapporo'}
                      %label{for: 'sapporo'} 札幌から
                    %li.submit
                      %input{type: 'submit', value: '検索'}
                %li.search-access-step
                  %ul.radio-button-list
                    %li
                      %input{type: 'radio', name: 'transportation', value: 'car', id: 'car'}
                      %label{for: 'car'} #{content_tag :i, 'car', class: 'icon-lsf lsf'}車で
                    %li
                      %input{type: 'radio', name: 'transportation', value: 'train', id: 'train'}
                      %label{for: 'train'} #{content_tag :i, 'bus', class: 'icon-lsf lsf'}電車で
                %li.search-access-step
                  %select
                    %option{value: 1} 1
                    %option{value: 2} 2
                    %option{value: 3} 3
                    %option{value: 4} 4
                    %option{value: 5} 5
                    %option{value: 6} 6
                  時間
                  %br/
                  以内で行ける
                  %br/
                  スキー場
              %ul.search-check-box-list
                %li
                  %h3 こだわり
                  %ul.checkbox-list
                    %li
                      %input{type: 'checkbox', name: 'facility', value: 'half_pipe', id: 'half_pipe'}
                      %label{for: 'half_pipe'}ハーフパイプ
                    %li
                      %input{type: 'checkbox', name: 'facility', value: 'snow_park', id: 'snow_park'}
                      %label{for: 'snow_park'}スノーパーク
                %li
                  %h3 平日リフト料金
                  %ul.checkbox-list
                    %li
                      %input{type: 'checkbox', name: 'lift_price', value: '2000', id: '2000'}
                      %label{for: '2000'}2,000円以下
                    %li
                      %input{type: 'checkbox', name: 'lift_price', value: '3000', id: '3000'}
                      %label{for: '3000'}3,000円以下
                    %li
                      %input{type: 'checkbox', name: 'lift_price', value: '4000', id: '4000'}
                      %label{for: '4000'}4,000円以下
          %li
            .tab-box-content.event
              .calendar
                カレンダー
              %h3 イベントの種類から探す
              %ul.section-list
                %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}スキー試乗会", '#'
                %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}スノーボード試乗会", '#'
                %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}スノーボード大会", '#'
                %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}抽選会等当たるイベント", '#'
          %li
            .tab-box-content.review
              %h3= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}総合ランキング", '#'
              %ul.item-list
                - 3.times do
                  %li
                    .ranking= "#{content_tag :span, 1, class: 'num'}位"
                    .image= link_to image_tag('http://snoway.jp/img/review/s/00/27/10002722.jpg', alt: 'ゲレンデ名'), '#'
                    %h4.title
                      = link_to '#' do
                        グランデコスキー場
                        %span （福島）
                    .point
                      %i.icon-star
                      %i.icon-star
                      %i.icon-star
                      %i.icon-star.disabled
                      %i.icon-star.disabled
                      %span.num 3.5
                    %p.comment= link_to "#{content_tag :i, nil, class:'icon-comment'}GWもやってたんですね！"
              %ul.item-list.end
                - 4.times do
                  %li
                    .ranking= "#{content_tag :span, 1, class: 'num'}位"
                    %h4.title
                      = link_to '#' do
                        グランデコスキー場
                        %span （福島）
                    .point
                      %i.icon-star
                      %i.icon-star
                      %i.icon-star
                      %i.icon-star.disabled
                      %i.icon-star.disabled
                      %span.num 3.5
              .review-conditions-wrapper
                %ul.section-list
                  %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}スキーヤーからの評価が高い"
                  %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}スノーボーダーからの評価が高い"
                  %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}コースパフォーマンスが良い"
                %ul.section-list.end
                  %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}スキー場の施設が充実"
                  %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}ゲレ食の評価が高い"
                  %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}アクセスが良い"

    %section.section
      %h2= "#{content_tag :i, nil, class: 'icon-thumbs-up-alt'}PICKUP スキー場"
      %ul.item-list
        - 4.times do
          %li
            .image= link_to image_tag('http://snoway.jp/img/review/s/00/27/10002722.jpg', alt: 'ゲレンデ名'), '#'
            %h3.title
              = link_to '#' do
                グランデコスキー場
                %br/
                %span （福島）
            .point
              %i.icon-star
              %i.icon-star
              %i.icon-star
              %i.icon-star.disabled
              %i.icon-star.disabled
              %span.num 3.5
            %p
              %a{:href => "#"}
                １２文字を２段にします
                %br>/
                １２文字を２段にします

    .section-wrapper
      %section.section.half
        %h2= link_to "#{content_tag :i, nil, class: 'icon-file-alt'}新着トピックス#{content_tag :i, nil, class: 'icon-caret-right'}", '#'
        %ul.section-list
          - 7.times do
            %li= link_to "#{content_tag :i, nil, class: 'icon-caret-right'}野沢餅つき大会", '#'
        %p.link-more= link_to "新着トピックスをもっと見る#{content_tag :i, nil, class: 'icon-caret-right'}"

      %section.section.half.end
        %h2= link_to "#{content_tag :i, nil, class: 'icon-calendar'}もうすぐ開催のイベント#{content_tag :i, nil, class: 'icon-caret-right'}", '#'
        %ul.section-list.top-event
          - 2.times do
            %li
              = link_to "#{content_tag :strong, '08/24(日)開催のイベント'}#{content_tag :i, nil, class: 'icon-caret-right'}", '#'
              %ul
                - 2.times do
                  %li= link_to "#{content_tag :i, nil, class: 'icon-flag'}野沢餅つき大会", '#'
        %p.link-more= link_to "イベントをもっと見る#{content_tag :i, nil, class: 'icon-caret-right'}"

    .ad.wide
    .section-wrapper
      .section-wrapper-half
        %section.section
          %h2
            %a{:href => "#"}
              %i.icon-calendar>
              新着滑走記録
              %i.icon-caret-right
          %ul.section-list.skying-records
            - 7.times do
              %li
                %ul
                  %li.thumbnail
                    = link_to image_tag("https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/195380_785944456_1205910944_q.jpg", alt: "USERNAME"), '#', class: 'powertip', title: 'USERNAME'
                  %li.num= link_to '05/21', '#'
                  %li.gerande= link_to '月山'
          %p.link-more= link_to "滑走記録をもっと見る#{content_tag :i, nil, class: 'icon-caret-right'}"

        %section.section
          %h2= link_to "#{content_tag :i, nil, class: 'icon-comments'}新着のトーク#{content_tag :i, nil, class: 'icon-caret-right'}", '#'
          %ul.section-list.talk
            %li.snowboard= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 
            %li.ski= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 
            %li.gerande= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 
            %li.qa= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 
            %li.others= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 
            %li.qa= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 
            %li.others= link_to "#{content_tag :i, nil, class: 'icon-comments'}マナーの悪い人が多いというか.....#{content_tag :span, 3, class: 'num'}", '#' 

          %p.link-more= link_to "トークをもっと見る#{content_tag :i, nil, class: 'icon-caret-right '}"

      .section-wrapper-half.end
        %section.section
          %h2= link_to "#{content_tag :i, 'crown', class: 'lsf icon-lsf'}Snower ランキング#{content_tag :i, nil, class: 'icon-caret-right'}", '#'
          %section.inner-section
            %h3 滑走日数ランキング
            %ul.ranking-list
              - 3.times do
                %li
                  %ul
                    = link_to '#' do
                      %li.ranking
                        %span.num 1
                        位
                      %li.thumbnail
                        %img{:alt => "USERNAME", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/579829_10151095637604457_175483388_n.jpg"}/
                      %li.username おっちゃん
                      %li.value
                        %span.num 148
                        回

          %section.inner-section
            %h3 今シーズンのレビュー数
            %ul.ranking-list
              - 3.times do
                %li
                  %ul
                    = link_to '#' do
                      %li.ranking
                        %span.num 1
                        位
                      %li.thumbnail
                        %img{:alt => "USERNAME", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/579829_10151095637604457_175483388_n.jpg"}/
                      %li.username おっちゃん
                      %li.value
                        %span.num 148
                        回

          %section.inner-section
            %h3 アクセス数
            %ul.ranking-list
              - 3.times do
                %li
                  %ul
                    = link_to '#' do
                      %li.ranking
                        %span.num 1
                        位
                      %li.thumbnail
                        %img{:alt => "USERNAME", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/579829_10151095637604457_175483388_n.jpg"}/
                      %li.username おっちゃん
                      %li.value
                        %span.num 148
                        回
          %p.link-more= link_to "ランキングをもっと見る#{content_tag :i, nil, class: 'icon-caret-right '}"


    %section.section
      %h2
        %a{:href => "#"}
          %i.icon-shopping-cart>
          全国 スキー＆スノーボード ショップ情報
          %i.icon-caret-right
      %ul.item-list
        - 4.times do
          %li
            .image= link_to image_tag('http://snoway.jp/img/review/s/00/27/10002722.jpg', alt: 'ゲレンデ名'), '#'
            %h3.title
              %a{:href => "#"}
                UPLAND札幌
                %br/
                %span （北海道）
            %p
              %a{:href => "#"}
                １２文字を２段にします
                %br>/
                １２文字を２段にします

  %aside#sub
    .section.ad.lectangle
      / ca-pub-7399110747853108/snoway_all_position1_300x250
      :javascript
        GA_googleFillSlot("snoway_all_position1_300x250");

    %section.section.user-box-section
      .user-box-header
        %p.thumbnail
          %a{:href => "#"}
            %img{:alt => "USERNAME", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/195380_785944456_1205910944_q.jpg"}/
        .user-box-section-right
          %h2
            %a{:href => "#"} おっちゃん
          %p.mood-message
            = link_to '#' do
              シーズンイン！
              %i.icon-pencil
      %ul.user-box-data
        %li 
          %h3
            = link_to '#' do
              %i.icon-calendar
              滑走日数
          %p
            = link_to '#' do
              %span.num<> 35
              日
        %li 
          %h3
            = link_to '#' do
              %i.icon-star
              レビュー
          %p
            = link_to '#' do
              %span.num<> 37
              件
        %li 
          %h3
            = link_to '#' do
              %i.icon-comment>
              トーク
          %p
            = link_to '#' do
              %span.num<> 28
              件
        %li 
          %h3
            = link_to '#' do
              %i.icon-camera>
              フォト
          %p
            = link_to '#' do
              %span.num<> 101
              枚

    %section.section
      %h2
        %a{:href => "#"}
          %i.icon-bar-chart>
          ゲレンデ積雪情報
        %i.icon-caret-right
      %dl.section-dl.snow-conditions
        - 3.times do
          %a{:href => "#"}
            %dt
              %i.icon-caret-right>
              グランデコ国際スキー場＆スケート場
            %dd.depth
              %span.num> 460
              cm
            %dd.condition ザラ雪
      %p.link-more
        %a{:href => "#"}
          もっと見る
          %i.icon-caret-right

    %section.section
      %h2
        %a{:href => "#"}
          %i.icon-calendar>
          2013-14シーズン スキー場オープン情報
          %i.icon-caret-right
      %dl.section-dl.open-information
        - 3.times do
          %a{:href => "#"}
            %dt
              %i.icon-caret-right>
              斜里町ウナベツスキー場うな別うなぎべつ
            %dd.date 01/13
      %p.link-more
        %a{:href => "#"}
          もっと見る
          %i.icon-caret-right

    %section.section.ad.medium
      %h2 [PR]
      .taC
        / ca-pub-7399110747853108/snoway_all_halfbanner_pos1_234x60
        :javascript
          GA_googleFillSlot("snoway_all_halfbanner_pos1_234x60");
      .taC
        / ca-pub-7399110747853108/snoway_all_halfbanner_pos2_234x60
        :javascript
          GA_googleFillSlot("snoway_all_halfbanner_pos2_234x60");
      .taC
        / ca-pub-7399110747853108/snoway_all_halfbanner_pos3_234x60
        :javascript
          GA_googleFillSlot("snoway_all_halfbanner_pos3_234x60");
    %section.section
      %h2
        %a{:href => "#", :target => "blank"}
          %i.icon-rss>
          スノーウェイからのお知らせ
          %i.icon-external-link
      %ul.section-list.link
        - 6.times do
          %li
            %a{:href => "http://info.snoway.jp/archives/1764183.html", :target => "_blank"}
              %i.icon-caret-right>
              2013-2014シーズン早割シーズン券情報
              %span （2013年06月19日）
      %p.link-more
        %a{:href => "http://info.snoway.jp/", :target => "_blank"}
          Snoway オフィシャルブログへ
          %i.icon-external-link
    .section
      %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsnowayjp&amp;width=300&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false", :style => "border:none; overflow:hidden; width:300px; height:258px;"}
    .section.ad
      %h2 [スポンサードリンク]
      :javascript

      %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}
